<div *ngIf = "searchByNameEnabled">
    <app-search-by-name (onSearch)="recipesList.searchByName($event)" [inputRecipes] = "recipes"></app-search-by-name>  
</div>
<div *ngIf = "searchByIngredientsEnabled">
    <app-search-by-ingredients (onSearch)="recipesList.searchWithFilters($event)"></app-search-by-ingredients>   
</div>
<div *ngIf = "searchByIngredientsEnabled" class="search-button" (click)="enableSearchByName()">Cauta dupa nume</div>
<div *ngIf = "searchByNameEnabled" class="search-button" (click)="enableSearchByIngredients()">Cauta dupa ingrediente</div>
<app-recipes-list #recipesList [recipes]="recipes"></app-recipes-list>
