<div class="ui-g-12 menu">
    <a class="logo-broccoli" href="/recipe-list">
        <img class="image-broccoli" src="../assets/BrocIcon.png">
    </a>
    <a class="title" href="/recipe-list">Happy Broccoli</a>
    <ul *ngIf="!isLoggedIn" class="menu-right">
        <a href="/app-login" class="menu-right-item">
            <li class="title">Login</li>
        </a>
        <a href="/app-register" class="menu-right-item">
            <li class="title">Register</li>
        </a>
    </ul>
    <div *ngIf="isLoggedIn" class="menu-right" (mouseover)="enableUserMenu()" (mouseleave)="disableUserMenu()">
        <div class="title username" >{{username}}</div>
        <img class="image-user" src="../assets/user.png" />

        <div class="user-menu-container" *ngIf="userMenuEnabled">
            <a class="user-menu-item first-item" href="/app-favorites">
                <img class="image-star" src="../assets/whitestar.png" />Favorite
            </a>
            <a class="user-menu-item" href="/app-user-recipes">
                <img class="image-star" src="../assets/mushroom.png" />Rețetele mele
            </a>
            <a class="user-menu-item" href="/add-recipe">
                <img class="image-star" src="../assets/plus.png" />Adaugă o rețetă
            </a>
            <div class="user-menu-item last-item" (click)="logout()">
                <img class="image-star" src="../assets/logout.png" />Deconectare
            </div>
        </div>
    </div>



</div>