<p-dialog header="" [(visible)]="showDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
        [baseZIndex]="10000">
    <span>Elimini această rețetă de la favorite?</span>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="delete()" label="Da"></button>
            <button type="button" pButton icon="pi pi-close" (click)="no()" label="Nu" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>
<p-dataGrid [value]="favoriteRecipes" *ngIf='favoriteRecipes' [rows]="9" [paginator]="showPaginator" [emptyMessage] = "emptyMessage">
  <ng-template let-recipe pTemplate="item">
    <div style="padding: 3px" class="ui-g-12 ui-md-6 ui-lg-4">
      <p-panel>
        <span class="remove-favorite"><img class="image-star" src="../assets/remove.png" (click)="enableShowDialog(recipe.Id)"/></span>
        <div [routerLink]="['/recipe-details', recipe.Id]" style="cursor: pointer">
          <img [src]="recipe.Photo" onError="this.src='../assets/RecipeNotFoundImage.jpg'" class="image" height="80%" width="95%" object-fit="fill" /> {{recipe.Name}}
        </div>
      </p-panel>
    </div>
  </ng-template>
</p-dataGrid>