<div class="ui-g-12">
     <div class = 'categoryName'> Vitamine </div>
     <app-table [categoryList] = "vitamins" ></app-table>
     <div class = 'ui-g-12 categoryName'> Minerale </div>
     <app-table [categoryList] = "minerals" ></app-table>
     <div class = 'ui-g-12 categoryName'> Macronutrienți </div>
     <app-table [categoryList] = "macronutrients" ></app-table>
</div>
    
          