
.nameRow{
    background-color: #42f200;
    margin-left: -15px;
    text-align: center;
}
.valueRow{
    background-color: #b7ff9b;
    text-align: center;
    margin-left: -15px;
    margin-bottom: -5px;
}