
<span class= "tablePart">
  <div class="nameRow" >{{nutrient.Name}}</div>
  <div class= "valueRow">
      <span>{{nutrient.Value | number:'1.2'}}</span>
      <span>{{nutrient.Measure}}</span> <span *ngIf= "!isZero">({{nutrient.PercentFromDRI | round}} % DZR)</span>
  </div>
</span>