<div class = "search-container">
    <div class="search-height">
      <p-autoComplete
       [(ngModel)]="inputIngredients" [suggestions]="filteredIngredients" (completeMethod)="filterIngredientsMultiple($event)"
        styleClass="wid100" [minLength]="1" placeholder="Ingredients" [multiple]="true" [emptyMessage]="emptyMessage" 
        (onSelect)="search()" (onUnselect)="removeIngredient($event)">
      </p-autoComplete>
    </div>

    <!-- <div class="filter-section">
      <div class="filters">
        <div class = "filter-title">
          Categorii:
        </div>
        <div class = "filter-element">
          <p-checkbox id="soups"></p-checkbox>
          <label  class ="refineByCheckboxFont">Supe</label>
        </div>
        <div class = "filter-element">
            <p-checkbox id="maindishes"></p-checkbox>
            <label class ="refineByCheckboxFont">Feluri Principale</label>
        </div>
        <div class = "filter-element">
              <p-checkbox id="pasta"></p-checkbox>
              <label class ="refineByCheckboxFont">Paste</label>
        </div>
        <div class = "filter-element">
            <p-checkbox id="desert"></p-checkbox>
            <label class ="refineByCheckboxFont">Deserturi</label>
         </div>
      </div>
    </div> -->
  </div>