<div class = "search-container">
  <div class="search-height">
    <p-autoComplete class="autocompleteName"
     [(ngModel)]="recipeName" [suggestions]="filteredRecipeNames" (completeMethod)="filterRecipesSingle($event)"
      styleClass="wid100" [minLength]="1" placeholder="Retete" [emptyMessage]="emptyMessage" 
      (onSelect)="search()">
    </p-autoComplete>
  </div>
</div>