<app-navigation-bar></app-navigation-bar>>
<div class="ui-g-12 ">
    <div class="content ">        
        <div class = "main-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

