<div class="ui-g ui-fluid container">
  <form class="main-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="ui-inputgroup" [autocomplete]="off">
      <div class="register-width register-content form-container">
              <div class="form-body ui-g-12">
                      <h2 class="ui-g-12">
                          Conectează-te
                      </h2>
                      <div class="ui-g-12">
                          <div class="input-text ui-g-12">
                              <label for="email" class="field">E-mail</label>
                              <input pInputText type="text" formControlName="email" />
                          </div>
                          <div class="ui-g-12 error-messages">
                              <span *ngIf="!registerForm.controls['email'].valid&&registerForm.controls['email'].dirty">
                                  E-mailul este necesar
                              </span>
                          </div>
                      </div>
                      <div class="ui-g-12">
                          <div class="ui-g-12 input-text">
                              <label for="password" class="field">Password</label>
                              <input pInputText type="password" formControlName="password" />
                          </div>
                          <div class="ui-g-12 error-messages">
                                  <span *ngIf="registerForm.controls['password'].hasError('required')&&registerForm.controls['password'].dirty">
                                      Parola este necesară
                                  </span>
                          </div>
                      </div>
                      
          
          
                  </div>
                  <div class="ui-g-12 error-messages"[ngClass]="{'hidden-elements': isValid}">E-mailul sau parola sunt incorecte!</div>
                  <div class="form-footer ui-g-12 ui-g">
                      <div class="input-text ui-g-12" id="button">
                          <button class="ui-g-12 base-button register-button" [disabled]="!registerForm.valid && registerForm.dirty" type="submit" pButton>
                                  Login
                          </button>
                      </div>
                  </div>
      </div>
  </form>
</div>