<!-- to do wrapper component with router outlet -->

<div class="ui-g ui-fluid container ">
  <form class="main-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="ui-inputgroup">
      <div class="register-width register-content form-container">
              <div class="form-body ui-g-12">
                      <h2 class="ui-g-12">
                          Creează un cont nou
                      </h2>

                      <div class="ui-g-12">
                            <div class="input-text ui-g-12">
                                <label for="lastName" class="field">Nume</label>
                                <input pInputText type="text" formControlName="lastName" />
                            </div>
                            <div class="ui-g-12 error-messages">
                                <span  *ngIf="!registerForm.controls['lastName'].valid&&registerForm.controls['lastName'].dirty">
                                    Numele este necesar
                                </span>
                            </div>
                        </div>
                   

                      <div class="ui-g-12">
                          <div class="input-text ui-g-12">
                              <label for="firstName" class="field">Prenume</label>
                              <input pInputText type="text" formControlName="firstName" />
                          </div>
                          <div class="ui-g-12 error-messages">
                              <span *ngIf="!registerForm.controls['firstName'].valid&&registerForm.controls['firstName'].dirty">
                                  Prenumele este necesar
                              </span>
                          </div>
                      </div>
                      
                      <div class="ui-g-12">
                          <div class="ui-g-12 input-text">
                              <label for="email" class="field">E-mail</label>
                              <input pInputText type="text" formControlName="email" />
                          </div>
                          <div class="ui-g-12 error-messages">
                                  <span *ngIf="registerForm.controls['email'].invalid&&registerForm.controls['email'].dirty">
                                      <i class="fa fa-close"></i>
                                      Formatul e-mailului este incorect
                                  </span>
                                  <span *ngIf="registerForm.controls['email'].hasError('required')&&registerForm.controls['email'].dirty">
                                      <i class="fa fa-close"></i>
                                      E-mailul este obligatoriu
                                  </span>
                          </div>
                      </div>
                      <div class="ui-g-12" formGroupName="passwords">
                          <div class="ui-g-12 input-text">
                              <label for="password" class="field">Parola</label>
                              <input pInputText type="password" formControlName="password" />
                          </div>
                          <div class="ui-g-12">
                              <div class="error-messages" *ngIf="!registerForm.controls['passwords'].controls
                                              ['password'].valid&&registerForm.controls['passwords'].controls['password'].dirty">
                                  <i class="fa fa-close"></i>
                                  <span *ngIf="registerForm.controls['passwords'].controls['password'].errors['required']                           ">
                                        Parola este necesară
                                  </span>
                                  <span *ngIf="registerForm.controls['passwords'].controls['password'].errors['minlength'] ||
                                                registerForm.controls['passwords'].controls['password'].errors['pattern']">
                                        Parola trebuie să conțină mimin 6 caractere din care cel puțin unul să fie cifră
                                   </span>
                              </div>
                          </div>
                          <div class="ui-g-12 input-text">
                              <label for="repeat-password" class="field">Repetă parola</label>
                              <input type="password" formControlName="repeatPassword" pInputText/>
                          </div>
                          <div class="ui-g-12">
                              <div class="error-messages" *ngIf="!registerForm.controls['passwords'].controls
                                                      ['repeatPassword'].valid&&registerForm.controls['passwords'].controls['repeatPassword'].dirty">
                                  <i class="fa fa-close"></i>
                                  <span *ngIf="registerForm.controls['passwords'].controls['repeatPassword'].hasError['required'] && this.registerForm.get('passwords').get('repeatPassword').dirty">Repetarea parolei este necesară</span>
                                  <span *ngIf="registerForm.get('passwords').hasError('missmatch')">Parolele nu corespund</span>
                              </div>
                          </div>
                      </div>
                </div>

                  <div class="form-footer ui-g-12 ui-g">
                      <div class="input-text ui-g-12" id="button">
                          <button class="ui-g-12 base-button register-button" type="submit" pButton>
                                  Înscrie-te
                          </button>
                      </div>
                  </div>
        </div>
    </form>
</div>