
<p-dataGrid [value]="recipes" *ngIf='recipes' [rows]="9" [paginator]="showPaginator" >
  <ng-template let-recipe pTemplate="item">
    <div style="padding: 3px" class="ui-g-12 ui-md-6 ui-lg-4">
      <p-panel>
        <div [routerLink]="['/recipe-details', recipe.Id]" style="cursor: pointer">
          <div class="list-rating">{{recipe.RatingValue}}<img class="image-star-list" src="../assets/star.png"></div>
          <img  [src]="recipe.Photo" onError="this.src='../assets/RecipeNotFoundImage.jpg'" class="image" height="80%" width="95%" object-fit="fill" /> {{recipe.Name}}
        </div>
      </p-panel>
    </div>
  </ng-template>
</p-dataGrid>
 