/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
  
  body {
      margin:0 !important;
      font-family: DIN-Medium;
  }
  
  html {
      background-color:white;
  }
  
  .menu {
    background-color: #099632;
    height: 65px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9997;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
    padding: 0px;
    vertical-align: middle !important;
  }

  .content{
      margin-top: 65px;
      margin-left: 10%;
      width:80% !important;
  }

  .logo-broccoli{
      margin-left: 45px;
      margin-top: 8px;
      display: inline-block;
  }
  .image-broccoli{
      height:40px;
  }

  .image-user{
      height:60px;
  }

  .image-star{
      height: 20px;
      margin-right: 10px;
  }
  .image-star-list {
    height: 16px;
    margin-right: 10px;
    margin-left: 5px;
  }   
  .image-check{
      height: 15px;
  }

  .ingredient-item{
    color: #0f1a20 !important;
    margin-bottom: 5px;  
    font-size: 16px;    
  }

  .add-to-favorits{
    float: left;
    height: 25px!important;
    max-width: 250px !important;
    color: #006400 !important;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .2s !important;
    font-size: 19px !important;
    padding: 5px !important;
    border: none !important;
    margin-bottom: 20px;
  }

  .rating{
    margin-bottom: -10px;  
    float: right;
  }

  .rating-value{
      float: right;
  }

  .title{
    vertical-align: middle !important;
    font-size: 20px;
    display: inline-block;
    color: #fff !important;
    transition: background-color .2s;
    height: 100% !important;
  }

  .title :hover{
      font-size: 22px;
  }

  .username{
      margin-bottom: 50px !important;
      padding-left: 7px;
  }

  .menu-right{
      float:right;
      margin-right: 45px;
      cursor: pointer;
      display: inline-block;
  }

  .menu-right-item{
      margin-left: 20px;
  }

  .user-menu-container{
      width: 200px;
      background-color: #099632;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
      margin-top: -40px;
  }

  .user-menu-item{
      display:block;
      font-size: 20px;
      color: #fff !important;
      transition: background-color .2s;
      margin-bottom: 8px;
      padding-left: 10px;
      padding-bottom: 7px;
  }

  .user-menu-item:hover{
      font-size:22px;
  }

  .first-item{
      padding-top: 10px;
  }

  .last-item{
    padding-bottom: 10px;
  }
  .remove-favorite{
      float: right !important;
      cursor: pointer;
  }
  .search-height{
      height: 55px !important;
  }

  .search-button{
    float: right;
    height: 25px!important;
    max-width: 180px !important;
    color: #006400 !important;
    cursor: pointer;
    transition: background-color .2s !important;
    font-size: 19px !important;
    padding: 5px !important;
    border: none !important;
    
  }
  .ingredients-container{
      margin-left: 10px;
  }

  .list{
      margin-right: 20px;
      margin-bottom: 10px;
  }
  
  .remove-ingredient-button{
      border-radius:4px !important;
      border: 1px solid red !important;
      display: inline-block !important;
      width: 25px !important;
      height: 25px !important;
      background-color: red !important;
      transition: background-color .2s !important;
      color: #fff !important;
  }

  .add-photo-Button{
    border-radius:4px !important;
    border: 1px solid #006400 !important;
    display: inline-block !important;
    width: 100px !important;
    height: 30px !important;
    background-color: #006400 !important;
    transition: background-color .2s !important;
    color: #fff !important;
  }

  .add-photo-Button:hover {
    background-color: #099632 !important;
    border: 1px solid #099632 !important;
    }   
  .ingredient-row{
    background-color: #099632 !important;
    transition: background-color .2s !important;
    border-radius: 4px;
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: .125em .5em;
    white-space: nowrap;
    position: relative;
    margin-right: 3px !important;
    border: 0 none;
    font-size: 18px;
  }

  .uploaded-photo{
      max-height: 30% !important;
      max-width: 30%;
  }
  .ui-messages-error{
    background-color: transparent !important;
    width: 320px !important;
  }
  .error-messages{
    color: red !important;
    transition: background-color .2s !important;
    font-size: 16px !important;
    padding: 5px !important;
    border: none !important;
    max-width: 320px !important;
    margin-left: 10px !important;
  }

  .ui-datagrid-content{
     box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
     background: transparent !important;
  }

  .ui-widget-content{
     background: #fffddd !important;
      
  }
  .add-recipe-field{
      width: 50% !important;
      margin-top: 20px !important;
  }

  .category{
      margin-left: 5px !important;
  }

  .field{
    color: #006400 !important;
    transition: background-color .2s !important;
    font-size: 19px !important;
    padding: 5px !important;
    margin-left: 3px; 
  }

  .cantitate{
      width: 20% !important;
      height: 45px !important; 
      display: inline-block !important;
  }

  .masura{
    margin-left: 20px !important;
    margin-bottom: 5px !important;
    width: 20% !important;
    height: 45px !important; 
    display: inline-block !important;
    
  }

  .ingredient{
    display: inline-block;
    margin-right: 20px;
    width: 40% ;
    height: 45px; 
  }

  .ui-datagrid {
      margin-top: 40px!important;
  }

  .autocompleteName{
    margin-top: 5px!important;
  }
  a, a:visited, a:hover, a:active {
      color: inherit;
  }
  
  a {
      text-decoration: none;
  }

  .main-container{
      position: relative;
      top:5px;
      bottom:0;
      margin-left:15px;
      padding-left:10px;
      padding-right:10px;
  }
  .page-content{
     padding-left: 50px;
     padding-right: 50px; 
     border: 1px solid #D5D5D5;
     background: #fffddd;
     color: #222222;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
  }
    .details-content{
        padding-bottom: 500px;
    }
    .register-width{
        width: 40%;
        margin-left: 25%;
    }
    .register-content{
        border: 1px solid #D5D5D5;
        background: #fffddd;
        color: #222222;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .login-content{

    }
    
  .ui-growl {
      top: 70px !important;
      background-color: transparent !important;
  }
  
  .ui-inputtext .ui-state-focus{
      box-shadow: 0px !important;
  }

  .ui-tabview{
      background:none !important;
  }
  
  .ui-tabview.ui-tabview-top>.ui-tabview-nav {
      padding: 0 !important;
      width: fit-content !important;
  }
  
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected {
      color: #252528 !important;
      background-color: #ffffff !important;
      height: 38px;
      margin-top: 0px;
  }
  
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected span.ui-tabview-close {
      background: #b6c0c1;
      border-radius: 12px;
      font-size: 11px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff !important;
      padding: 3px 4px;
      margin-right: 10px;
  }
  
  
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li span.ui-tabview-close {
      background: #b6c0c1;
      border-radius: 12px;
      font-size: 11px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff !important;
      padding: 2px 4px;
      margin-right: 8px;
  }
  
  .hidden-elements{
      background: #006400;
      visibility: hidden !important;
  }

  .list-rating{
      float: right;
      margin-right: 5px;
      color: #252528;
      transition: background-color .2s !important;
      font-size: 16px !important;
      
  }

  .ui-dialog-footer {
    border: 0px !important;
  }

  .ui-button{
      background: #099632 !important;
  }
  .ui-dialog-titlebar-maximize{
      visibility: hidden !important;
  }

  .ui-dialog.ui-widget .ui-dialog-titlebar{
    padding : 3px !important;
  }
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li span.ui-tabview-title {
      color:#ffffff !important;
      font-size:14px !important;
  }
  .ui-tabview .ui-tabview-nav li .ui-tabview-close {
      color: #657a83 !important;
  }
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected span.ui-tabview-title {
      color: #657a83 !important;
      font-family: DIN-Medium;
      font-size:16px !important;
  }
  
  .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
      color: #ffffff !important;
      background-color: #657a83 !important;
      margin-right:5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      margin-top: 4px;
      box-shadow: 0 -2px 4px 0 #b8bfc1;
  }
  .ui-tabview .ui-tabview-nav li .ui-tabview-left-icon {
      color: #ffffff !important;
  }
  
  .ui-tabview .ui-tabview-nav li.ui-tabview-selected .ui-tabview-left-icon {
      color: #657a83 !important;
  }
  .ui-tabview li {
      border: none !important
  }
  
  .ui-tabview-panels {
      box-shadow: 0 2px 4px 0 #b8bfc1;
      border-radius: 4px !important;
  }
  
  .ui-tabview-panel {
      padding: 0 !important;
  }

 .ui-dropdown .ui-dropdown-label {
      border: 0;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
      padding-right: 1.5em;
      font-size: 100%;
      padding-top: 1.4%;
      padding-left: 1% !important;
  }
  
  
  p-dropdown {
      text-align: left;
      background-color: #fff !important;
  }
  
  .ui-widget-header {
      border: 0px !important;
  }
  
  .ui-dropdown .ui-dropdown-trigger .fa {
      color: #9b9b9b;
  }
  
  .ui-dropdown {
      height: 39px !important;
      display: inline-grid;
      vertical-align: middle;
      width: 100% !important;
      height: 45px !important;
      box-shadow: rgb(182, 192, 193) 0px 0px 3px 0px;
      display: flex;
      align-items: center;
      padding:.3em !important;
      padding-top: 13px !important;
  }
  
  .ui-dropdown:not(.ui-state-disabled):hover {
      background: #fff !important;
  }
  
  .ui-dropdown label.ui-dropdown-label {
    cursor: pointer;
    font-size: 100%;
    background-color: #fff !important;
    color: gray;
    vertical-align: center !important;
  }
  
  .ui-datatable .ui-datatable-header{
      background: #fff !important;
      border-bottom-style: solid;
      border-bottom-width: thin;
      border-bottom-color: #e9eff3;
  }
  
  .ui-datatable.ui-widget {
      text-align:center;
  }
  
  
  tbody.ui-datatable-data {
      font-size:16px !important;
      border-left: 0px !important;
      border-right: 0px !important;
  }

  
  thead.ui-datatable-thead tr th.ui-state-active {
      color:#657a83;
  }
  
  thead.ui-datatable-thead tr{
      height:60px;
  
  }
  
  tbody.ui-datatable-data tr {
      height:60px;
  
  }
  
  tbody.ui-datatable-data tr td {
      border-left:0px !important;
      border-right:0px !important;
      border-width:0px !important;
      color: #0f1a20 !important;
  }
  
  
  span.ui-tabview-left-icon{
      margin-right:10px;
  }
  
  .person-list-id-column {
      width:100px;
  }
  
  .ui-paginator {
      background: #ffffff !important;
      background-color: #ffffff !important;
      border: none !important;
      border-radius: 4px !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
  }
  
  .ui-paginator-page {
      border-radius: 2 !important;
      min-width:35px !important;
      height: 35px !important;
      padding-top: 9px !important;
      font-size:13px !important;
      text-align:center !important;
  }
  .ui-paginator .ui-paginator-page.ui-state-active {
      background-color: #099632 !important;
      border-color: #099632 !important;
      font-family: PFDinTextStd-Reg;
  }
  
  .ui-paginator-first {
      border-radius: 2 !important;
      width:35px !important;
      height: 35px !important;
      padding-top: 7px !important;
      padding-left: 5px !important;
      text-align:center !important;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
  }
  
  .ui-paginator-prev {
      border-radius: 2 !important;
      width:35px !important;
      height: 35px !important;
      padding-top: 7px !important;
      padding-left: 5px !important;
      text-align:center !important;
      margin-right: -5px !important
  }

  .ui-datagrid{
      margin-top: 10px;   
  }
  .ui-state-default {
    border: 0px !important; 

}
  
  .ui-paginator-next {
      border-radius: 2 !important;
      width:35px !important;
      height: 35px !important;
      padding-top: 7px !important;
      padding-left: 10px !important;
      text-align:center !important;
      margin-left: -5px !important;
  }
  
  .ui-paginator-last {
      border-radius: 2 !important;
      width:35px !important;
      height: 35px !important;
      padding-top: 7px !important;
      padding-left: 10px !important;
      text-align:center !important;
      margin-right: 20px !important;
  }
  
  .search-container {
      background-color: #ffffff;
      /*display:flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: row wrap;*/
      -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
  }

  .ui-corner-all {
    border-radius: 0px;
  }

  .ui-autocomplete-token {
}
  

  .search-container.nested-search-container {
      background-color: #e9eff3;
      padding-right: 20px;
      margin-left: 0px;
      margin-right: 0px;
      box-shadow: none !important;
  }
  
  .search-container.nested-search-container .search-input {
      width: 100%;
  }
  
  .search-container.tab-search-container {
      margin: 0px !important;
      box-shadow: none !important;
      border-left: 1px solid #D5D5D5 !important;
      border-right: 1px solid #D5D5D5 !important;
  }
  
  
  p-panel.nested-table .nested-table-content {
      border: 1px solid #b6c0c1;
      border-radius: 4px;
      margin-bottom: 20px;
      overflow: hidden;
  }
  
  p-panel.nested-table .ui-panel-content {
      padding: 20px !important;
  }
  
  .search-input input {
      height:40px !important;
      margin-right: -5px;
      border-radius:0px !important;
      background-color:#ededed !important;
      font-family: DIN-Medium;
  }
  
  .search-input input:focus {
      box-shadow:none !important;
  }
  
  .search-input-first input, .search-input-first-large input,
  div > p-dropdown.small-input.search-input-first > div.ui-dropdown {
      border-top-left-radius: 5px !important;
      border-bottom-left-radius:5px !important;
  }
  
  .small-input input {
      width:120px;
  }
  
  .normal-input input {
      width:200px;
  } 
  .search-section {
      
      display:inline-flex;
      min-width:100%;
  }
  
  .filter-section {
     /* display:flex;
      flex:1; */
      height: 50px;
      display:inline-block;
      min-width:100%;
      margin-left: 20px;
      box-sizing: border-box;
      /*flex-direction:row;*/
  }
  
  .filter-title {
      font-weight:bold;
      color:#494950;
      margin-right: 10px;
      font-size:17px;
      display: flex;
      align-items: center;
      font-family: PFDinTextStd-Bold;
  }
  
  .filters {
      line-height:2;
      float:left;
      display:flex;
  }
  
  .filter-element {
      color:#333333;
      font-size:18px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .ui-chkbox-icon {
      font-size:10px;
  }
  
  .ui-chkbox-box.ui-state-active {
      background-color: #b7ff9b !important;
      color: #ffffff !important;
      display:flex;
      align-items:center;
      justify-content: center;
  }
  .ui-chkbox .ui-chkbox-box {
      width:14px !important;
      height:14px !important;
      border-radius: 3px !important;
  }
  .ui-chkbox-box {
      border: 1px solid #9c9e9f !important;
      background-color: #ffffff !important;
  }
  .ui-chkbox-box.ui-state-focus {
      box-shadow: none !important;
  }
  
  .clear-filters-container {
      line-height: 3;
      cursor:pointer;
      color:#d2192c;
      font-size:14px;
      float:right;
  }
  
  .clear-filters {
      font-family: DIN-Medium;
  }
  
  .ui-growl.ui-state-highlight {
      background-color: red !important;
      height: 80px !important;
  }
  
  .ui-autocomplete-token.ui-state-highlight{
      background-color: #099632 !important;
  }

  .ui-autocomplete-panel.ui-autocomplete-list-item {
    background-color: white !important;   
  }

  .ui-autocomplete-list-item.ui-corner-all.ui-state-highlight{
    background-color: #099632 !important; 
  }

  p-autocomplete.search-input {
      width:100% !important;
  }
  
  p-autocomplete.search-input-first {
  }
  
  p-autocomplete.search-input-first-large {
      width:100% !important;
      border-bottom: 1px solid #D5D5D5;
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-nav li{
      height: 60px !important;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #ffffff !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      width:30em !important;
      margin-top:0px !important;
      box-shadow: none !important;
  }
  .ui-tabview .ui-tabview-nav > li.ui-state-default{
      
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected{
      background-repeat: repeat-x;
      background-position: bottom;
      margin-bottom:0px !important;
  
  }
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-panels {
      box-shadow:none !important;
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected span.ui-tabview-title{
      color: #ff0000 !important;
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-nav {
      display:flex !important;
      border-bottom: solid 1px #b5c9cd !important;
      background-color:#ffffff !important;
      width:100% !important;
      border-radius:0px !important;
      border-top-right-radius: 4px !important;
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top>.ui-tabview-nav li span.ui-tabview-title {
      color: #6f6f6f !important;
      font-weight: 500 !important;
      font-size:16px !important;
  }
  
  p-tabview.content-tab > div.ui-tabview.ui-tabview-top {
      padding: 0px !important;
  }
  
  .input-with-label {
      display:flex;
      flex-flow:column;
      justify-content: center;
      align-items: left;
  }
  
  input:disabled {
      background-color: #f2f2f1 !important;
      border: solid 1px #b6c0c1 !important;
      color: #657a83 !important
  }
  
  input {
      margin-left: 5px !important;
      font-size: 16px !important;
      height: 45px !important;
      border-radius: 4px !important;
      -webkit-appearance: none;
      border-style: solid !important;
      border: 1px solid #b6c0c1 !important;
      box-shadow: 0 0 3px 0 #b6c0c1;
      padding: .5em !important;
      font-family: DIN-Medium;
      box-sizing: border-box !important;
  }
  
  input:focus {
      box-shadow: 0 0 3px 0 #4dbdf1 !important;
      border: solid 1px #4dbdf1 !important;
      outline:none !important;
  }
  
  .ui-panel-titlebar {
      background: none !important;
      font-size: 14px !important;
      font-weight: bold !important;
      display: flex !important;
      border: none !important;
      padding-top:30px !important;
      color: #3f3f46;
  }
  
  .ui-panel-title {
      padding-left: 0.5em !important;
      font-size: 16px !important;
  }
  
  .ui-panel {
      border-top:0px !important;
      border-bottom: 0px !important;
      border-right: 0px !important;
      border-left: 0px !important;
      padding-right:40px !important;
      padding-left:40px !important;
      border-radius:0px !important;
  }
  
  .ui-panel:hover{
    box-shadow: 0 0 3px 0 #b6c0c1 !important;
  }
  .active-action-button {
      width:100px;
      height:40px;
      background-color: #00927d !important;
      border: 0px solid !important;
  }
  
  .ui-inputswitch {
      border-radius:4px !important;
      width: 122px !important;
      height:32px !important;
      border: 0px solid !important;
      background-color: #a8a8a8 !important;
      transform: rotate(180deg);
  }
  
  .ui-inputswitch-handle {
      background-color: #a8a8a8 !important;
      border: 0px !important;
      width: 0px !important;
  }
  
  
  .ui-growl-item-container.ui-state-highlight.ui-growl-message-success {
      background-color: #4cae4c !important;
      border-color: #4cae4c !important;
      border: solid 1px #00b700 !important;
  }
 
  
  p-checkbox {
      display:flex;
  }
  
  .ui-chkbox-box.ui-state-active {
      background: #42f200 !important;
      border: 1px solid #42f200 !important;
  }
  
  .ui-chkbox-box.ui-state-disabled {
      background: #9b9b9b !important;
      border: 1px solid #9b9b9b !important;
      opacity: 1;
  }
  .invalid .ui-autocomplete .ui-autocomplete-input{
      box-shadow: 0px 0px 10px red !important;
  }
  
  .ng-invalid:not(form).ng-dirty, .ng-invalid:not(form).ng-dirty > span.ui-calendar > input, .ng-invalid.ng-dirty > div.ui-dropdow,
  .ng-invalid:not(form).ng-dirty > .ui-autocomplete > .ui-autocomplete-input{
      box-shadow: 0 0 2px 0 #fb8a85 !important;
      border: solid 1px #fb8a85 !important;
    }
  p-dropdown.ng-invalid.ng-dirty, p-calendar.ng-invalid.ng-dirty, p-autoComplete.ng-invalid.ng-dirty {
      box-shadow:none !important;
      border:0px !important;
  }
  
  .invalid {
      box-shadow: 0px 0px 10px red !important;
      outline-color:red;
  }
  
  .invalid-err-msg {
      font-size: 14px;
      color: red;
      padding-top: 5px;
  }
  
  p-dropdown {
      width:100% !important;
      background-color: transparent !important;
  }
  
  .add-ingredient-button{
    height: 35px;
    width: 35px;   
    background-color: #006400 !important;
    border: 1px solid #006400 !important;
    border-radius:4px !important;
    font-size: 20px !important;
    color: #fff !important;
    transition: background-color .2s !important;
  }

  .add-ingredient-button:hover{
        background-color: #099632 !important;
        border: 1px solid #099632 !important;
  }

  .add-button-span{
    width: 5% !important; 
    height: 100% !important; 
    display: inline-block !important;
    margin-left: 10px !important;
    padding-bottom: 8px;
    margin-bottom: 7px !important;
  }

  .ui-fluid .ui-button{
  }

  .base-button {
      height:40px !important;
      width:203px !important;
      background-color: #006400 !important;
      border: 1px solid #006400 !important;
      border-radius:4px !important;
      font-size: 20px !important;
      display: inline-block !important;
      color: #fff !important;
      transition: background-color .2s !important;    
  }
  
  .base-button:hover {
      background-color: #099632 !important;
      border: 1px solid #099632 !important;
  }
  .register-button{
    width: 140px !important;
    margin-left: 60%;
  }
  
  .save-recipe-button{
    
  }

  .drop-down-categories{
      width:100% !important;
  }
  
  .search-input > div.ui-dropdown {
      border-radius: 0px !important;
      height:40px !important;
  }
  
  .ui-dropdown:not(.ui-state-disabled):hover {
      background: #ffffff !important;
  }
  
  p-dropdown .ui-state-focus {
      background: #ffffff !important;
  }
  
  .ui-dropdown-label {
      padding: 0px !important;
      font-size: 1em !important;
  }
  
  p-paginator > div > p-dropdown >div.ui-dropdown {
      width: 64px !important;
      position: relative !important;
      margin-top: 0px !important;
      display: inline-block !important;
      margin-right: 18px !important;
      height: 35px !important;
  }
  
  
  
  p-paginator > div > p-dropdown >div.ui-dropdown >label.ui-dropdown-label {
      display: flex !important;
      align-items: center !important;
      padding-left: 0px !important
  }
  
  p-paginator > div > p-dropdown >div.ui-dropdown > div.ui-dropdown-trigger {
      height:33px !important
  }
  
  
  p-paginator >div >p-dropdown > div.ui-dropdown > div.ui-dropdown-panel > div.ui-dropdown-items-wrapper {
      border: 0px !important;
  }
  
  p-paginator >div >p-dropdown > div.ui-dropdown > div.ui-dropdown-panel > div > ul.ui-dropdown-items {
      border-radius: 0px !important;
      padding: 0px !important;
  }
  
  p-paginator >div >p-dropdown > div.ui-dropdown > div.ui-dropdown-panel > div > ul.ui-dropdown-items >li {
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 14px;
  }

  p-dialog.confirm-dialog>div.ui-dialog>div.ui-dialog-titlebar>span.ui-dialog-title{
      font-size: 18px;
      font-weight: bold;
      color: #3f3f46;
  }
  
  p-dialog.confirm-dialog>div.ui-dialog>div.ui-dialog-content{
      background-color: #f6f6f6;
      color: #3f3f46;
  }
  
  .ui-tooltip .ui-tooltip-text {
      background-color: #e9eff3;
      font-size: 14px;
      color: #3f3f46;
      padding: 8px 14px;
      min-width: 220px;    
  }
  
  
  p-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose.ui-button:hover,
  p-fileupload .ui-fileupload-buttonbar button:hover {
      background-color: #fd6b65 !important;
      border: 1px solid #fd6b65 !important;
  }
  
  p-fileupload .ui-fileupload-buttonbar .ui-fileupload-choose.ui-button:active,
  p-fileupload .ui-fileupload-buttonbar button:active {
      background-color: #e30520 !important;
      border: 1px solid #e30520 !important;
      box-shadow: inset 0 1px 3px 0 rgba(145, 145, 145, 0.5);  
  }
  
  p-fileupload .ui-fileupload-buttonbar {
      background: #ffffff;
      padding: 0px;
      padding-bottom: 8px;
  }
  
  p-fileupload .ui-fileupload-content {
      width: 50%;
      border-radius: 4px;
  }
  
  p-fileupload .ui-fileupload-files {
      display: block;
  }
  
  p-fileupload .file-upload-placeholder {
      font-size: 14px;
      color: #9b9b9b;
  }
  
  .file-upload-container{
      background-color: #ffffff;
      margin-left: -10px;
      margin-right: -10px;
      -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.29);
      padding: 20px;
  }
  
  .file-import-error {
      color: #9b9b9b;
      font-size: 14px;    
      padding: 8px;
      margin-left: 32px;
  }
  