<p-growl [(value)]="message"></p-growl>
<div class="ui-g ui-fluid container page-content">
    <div class="ui-g-8 form-container">

        <h2>Adaugați o reteta</h2>
        <div class="add-recipe-field">
            <input type="text" class="search-input" [formControl]="nameControl" pInputText placeholder="Nume" [(ngModel)]="recipe.Title"
            />
        </div>
        <div *ngIf="nameControl.invalid && nameControl.dirty" class="error-messages">Numele rețetei este obligatoriu</div>

        <div class="add-recipe-field category">
            <p-dropdown [options]="categories" class="search-input-first-class drop-down-categories" [(ngModel)]="selectedCategory" placeholder="Categorie"></p-dropdown>
        </div>

        <h3 class="field">Ingrediente: </h3>
        <div class="ui-g ui-fluid ingredients-container">
            <div *ngFor="let ingredient of recipe.CustomIngredients" class="list">
                <span class="ingredient-row">{{ingredient.Quantity}} {{ingredient.Measure}} {{ingredient.Ingredient}}</span>
                <button class="remove-ingredient-button" type="button" (click)="remove(ingredient)">x</button>
            </div>
        </div>

        <div>
            <div id="ingredientName" class="ingredient">
                <p-autoComplete class="search-input-first-class" [(ngModel)]="selectedIngredient" [suggestions]="filteredIngredients" (completeMethod)="filterIngredientsSingle($event)"
                    [minLength]="3" placeholder="Ingredient" forceSelection="true" [style]="{'width':'100%'}" (onSelect)="updateMeasures()">
                </p-autoComplete>
            </div>
            <div class="cantitate">
                <input [formControl]="quantityControl" [(ngModel)]="quantity" type="text" class="search-input-first-class" pInputText placeholder="Cantitate"
                />
            </div>

            <div class="masura">
                <p-dropdown [options]="measures" class="search-input-first-class" [(ngModel)]="selectedMeasure" placeholder="Măsură" required="true"></p-dropdown>
            </div>

            <span class="add-button-span">
                <button class="add-ingredient-button" type="button" (click)="addIngredient()">
                    +
                </button>
            </span>
        </div>
        <div>
            <div *ngIf="quantityControl.invalid && quantityControl.dirty" class="error-messages">Cantitate invalidă</div>
            <div *ngIf="invalidCustomIngredient" class="error-messages">Completați toate cele 3 câmpuri</div>
        </div>

        <h3 class="ui-g-12 field">Mod de preparare:</h3>
        <div class="ui-g-12 ui-md-8">
            <textarea [formControl]="directionsControl" rows="5" cols="70" pInputTextarea [(ngModel)]="recipe.Directions" autoResize="autoResize"></textarea>
        </div>
        <div *ngIf="directionsControl.invalid && directionsControl.dirty" class="error-messages">Modul de preparare trebuie să conțină minim 30 de caractere.</div>

        <h3 class="ui-g-12 field">Poza:</h3>

        <div class="ui-g-12">
            <div>
                <img class="uploaded-photo" *ngIf="showFile" [src]="showFile" />
            </div>
            <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput/>
            <button class="add-photo-Button" (click)="fileInput.click()">Alege</button>
        </div>



        <div class="ui-g-12">
            <button class="base-button save-recipe-button" type="button" (click)="addRecipe()">
                Salvează
            </button>
        </div>

    </div>
</div>