<p-growl [(value)]="message"></p-growl>
<div class="page-content details-content">

    <h1 class="ui-g-12 ui-g-offset-3">{{recipeDetails.Name}}</h1>
    <div class="ui-g-4">
      <div class="subtitlu">Ingrediente:</div>
      <br>
      <table>
        <ng-container *ngFor="let ingredient of recipeIngredients">
          <div class="ingredient-item">
            <img class="image-check" src="../assets/check1.png" />{{ingredient.Quantity}}
            <span *ngIf="ingredient.MeasureName.length">{{ingredient.MeasureName}}</span> {{ingredient.IngredientName}} </div>
        </ng-container>
      </table>
    </div>
    <div class="ui-g-8">
      <div [ngClass]="{'hidden-elements': !isLoggedIn}">
        <div *ngIf="!isFavorite" class="add-to-favorits" (click)="addToFavorits()">
          <img class="image-star" src="../assets/star.png">
          <span> Adaugă la favorite </span>
        </div>
        <div *ngIf="isFavorite" class="add-to-favorits" (click)="deleteFromFavorites()">
          <img class="image-star" src="../assets/star.png">
          <span> Elimină de la favorite </span>
        </div>
      </div>
      <div class="rating">
        <p-rating [ngClass]="{'hidden-elements': !isLoggedIn}" [(ngModel)]="userRating" (onRate)="rate($event)" [cancel]="false"></p-rating>
        <div class="rating-value">Notă: {{recipeDetails.RatingValue}}</div>
      </div>
      <img [src]="photo" onError="this.src='../assets/RecipeNotFoundImage.jpg'" class="image" />
    </div>

    <div class="ui-g-12" class="subtitlu"> Mod de preparare: </div>
    <div>
      <table>
        <ng-container *ngFor="let step of steps; let i=index">
          <div>
            <span>{{i+1}}. {{step}}
              <br/>
            </span>
          </div>
        </ng-container>
      </table>
    </div>
    <div>
        <app-recipe-nutrients [recipeId]="selectedId"></app-recipe-nutrients>
    </div>
    
</div>